<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon" >
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" >
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} "/>
    <link rel="stylesheet" th:href="${#themes.code('styleSheet')}"/>
</head>
<body class="gradient-body">
<section>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center justify-content-center">
                <div>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li>
                            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                                <input id="search" type="search" class="form-control form-control-dark" th:placeholder="#{search-placeholder}"
                                       aria-label="Search">
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="text-end">
                    <div >
                        <select id="change-style" class="form-select">
                            <option  value="light" th:selected="${style eq null or style eq 'light'}" th:text="#{style-light}"></option>
                            <option value="dark" th:selected="${style eq 'dark'}" th:text="#{style-dark}"></option>
                        </select>
                        <select id="lang" class="form-select">
                            <option value="en" th:selected="${#locale.toString() eq 'en'}" th:text="#{lang.en}"></option>
                            <option value="ru" th:selected="${#locale.toString() eq 'ru'}" th:text="#{lang.ru}"></option>
                        </select>
                        <span sec:authorize="hasRole('ADMIN')"><a href="/admin">admin</a></span>
                        <a sec:authorize="isAuthenticated()" th:href="${'/' + #authentication.name}" th:text="${#authentication.name}"></a>
                        <button sec:authorize="isAnonymous()" id="login" type="button" class="btn btn-primary" onclick="redirect('/login')" th:text="#{login}"></button>
                        <button sec:authorize="isAuthenticated()" id="logout" type="button" class="btn btn-primary" onclick="redirect('/logout')" th:text="#{logout}"></button>
                        <button sec:authorize="isAnonymous()" id="sign-up" type="button" class="btn btn-primary" onclick="redirect('/sign-up')" th:text="#{sign-up}"></button>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main class="container">
        <div class="row mt-5">
            <div class="col bg-light mr-5 rounded">
                <h4 th:text="#{collections-title}"></h4>
                <p th:each="collection,iter : ${collections}">
                    <span th:text="${iter.count}"></span>
                    <a th:href="${collection.link}" th:text="${collection.name}"></a>
                </p>
            </div>
            <div class="col bg-light ml-5 rounded">
                <h4 th:text="#{items-title}"></h4>
                <div class="row">
                    <div class="col"><h6 th:text="#{items-column-title-name}"></h6></div>
                    <div class="col"><h6 th:text="#{items-column-title-collection}"></h6></div>
                    <div class="col"><h6 th:text="#{items-column-title-author}"></h6></div>
                </div>
                <div class="row" th:each="item,iter : ${items}">
                    <div class="col"><span th:text="${iter.count} + ' '"></span><a th:href="${item.link}" th:text="${item.name}"></a></div>
                    <div class="col"><a th:href="${item.collection.link}" th:text="${item.collection.name}"></a></div>
                    <div class="col"><a th:href="${'/' + item.collection.user.username}" th:text="${item.collection.user.fullName}"></a></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="container">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="center-block">
                        <canvas id="tagcanvas1" width="300" height="300"></canvas>
                    </div>
                </div>
                <div id="ptTags">
                    <a th:each="tag,iter : ${tags}" th:href="${'/search?text=' + #strings.replace(tag.name,'#','')}" th:text="${tag.name}"></a>
                </div>

            </div>
            </div>


    </footer>
</section>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://bootstraptema.ru/plugins/2015/tagcanvas/jquery.tagcanvas.min.js" type="text/javascript"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>